@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  marginright: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ##171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29292e;
  border-radius: 5px;
  cursor: move;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
